<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.me.webviewlib">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name=".simple.androidandjs.AndroidCallJsActivity"
            android:exported="false" />

        <activity
            android:name=".simple.androidandjs.JsCallAndroidActivity"
            android:exported="false" />
        <activity
            android:name=".WebViewActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
    </application>

</manifest>